POSTGRES_USER = hackathon_user
POSTGRES_PASSWORD = change_in_env
POSTGRES_DB = hackathon_db
POSTGRES_PORT = 5432
DATABASE_URL = postgres://user:pass@postgres-db:5432/db
BACKEND_PORT  = 8080

# generate a new random string for prod
JWT_SECRET = secret_key_change_in_env
