# .dockerignore
# don't copy local python venv
.venv/
venv/
# ignore python bytecode
__pycache__
*.py[cod]
*.pyc
*.pyo
*.pyd
# exclude local test cache
.pytest_cache/
# keep out git and env
.git/
.gitignore
.env
.env.*
*.log
